[is="flynt-testimonial"] {
  padding: 80px 0 60px;

  .preContent {
    &.textLeft {
      text-align: left;
      max-width: unset;
    }
    &.textRight {
      text-align: left;
      max-width: unset;
    }
  }

  .grid {
    @include reset-list;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: ($gutter-width * -1) 0 0 ($gutter-width * -1);

    &--columns2,
    &--columns3,
    &--columns4 {
      .grid-item {
        @media (min-width: $breakpoint-tablet) {
          width: 50%;
        }
      }
    }

    &--columns3 {
      .grid-item {
        @media (min-width: $breakpoint-tablet-horizontal) {
          width: 33.33%;
        }
      }
    }

    &--columns4 {
      .grid-item {
        /* ensure 2 columns stacking up until $breakpoint-desktop */
        max-width: (
            $breakpoint-desktop - $container-padding-tablet * 2 + $gutter-width
          ) / 3 + 1;

        @media (min-width: $breakpoint-desktop) {
          width: 25%;
        }
      }
    }
  }

  .grid-item {
    max-width: 675px;
    padding: $gutter-width 0 0 $gutter-width;
    width: 100%;
  }

  .content {
  }

  .textCenter {
    text-align: center;
  }
  .textLeft {
    text-align: left;
  }
  .textRight {
    text-align: right;
  }

  .quoteIcon {
    color: $color-teal;
    font-size: 100px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    &.topQuote {
      margin-bottom: -45px;
    }
  }

  .testimonial-image {
    height: 300px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    img {
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }
  }

  .slider-button--prev,
  .slider-button--next {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    z-index: 100;
  }
  .slider-button--prev {
    left: 0;
  }
  .slider-button--next {
    right: 0;
  }

  &.themeDark {
    .feather {
      color: #fff;
    }
  }
}
